@import url('./Variables.css');

@font-face {
    font-family: Inter;
    src: url('/InterVariable.woff2') format('woff2');
    font-display: swap;
    font-style: normal;
}

* {
    -webkit-tap-highlight-color: transparent;
}


body {
    background-color: rgba(var(--lb-bg));
}

#hero h1 {
    font-size: 50px;
    color: #141516;
    line-height: 1.4;
}

#hero .btn {
    height: 46px;
    padding: 0 2.5rem;
    transition: background-color 0.2s ease;
}

#hero .btn:nth-child(2):hover {
    background-color: #b0b0b048;
}

.title-bg-primary {
    color: rgb(var(--lb-black));
    background-color: var(--pr-color-primary);
}

.info-title-primary {
    background-color: var(--pr-color-primary);
    padding: 0 .75rem;
    color: rgb(var(--lb-black));
}

.pr-subtitle {
    font-size: 36px;
    letter-spacing: .025em;
    font-weight: 575;
    color: rgb(var(--lb-title));
}

.plan-card {
    background-color: black;
    padding: 36px 32px;
    width: 330px;
    min-width: 260px;
    max-width: 330px;
    min-height: 480px;
    height: auto;
    box-shadow: 2px 4px 25px rgba(0, 0, 0, 0.10);
}
.plan-card.dark {
    background-color: white;
}

.plan-card>span {
    font-size: 32px;
    color: rgb(var(--lb-white));
}
.plan-card>h2 {
    color: rgb(var(--lb-white));
}
.plan-card>p {
    color: rgb(var(--lb-white));
}
.plan-card>ul {
    color: rgb(var(--lb-white));
}
.plan-card>a{
    padding: .9rem 1.5rem;
    background-color: rgb(var(--lb-white));
    color: rgb(var(--lb-title));
}




.project-card {
    background-color: white;
    max-width: 346px;
    transition: box-shadow .2s ease, scale .2s ease;
}

.project-card:hover {
    box-shadow: 2px 4px 25px rgba(0, 0, 0, 0.10);
    scale: 1.02;
}


.accordion {
    background-color: #f9f9f9;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}
.active,
.accordion:hover {
    background-color: #eaefd8;
}
.accordion svg{
    rotate: 0;
    transition: rotate .2s ease;
}
.accordion.active svg{
    rotate: 45deg;
}

.panel {
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}