---
import Layout from "@Layouts/Layout.astro";
---

<Layout title="Contacto" description="Contacto">
	<main class="f-col f-align-center text-center mt-8 w-95 mx-auto" style="min-height: 80dvh; max-width: var(--maxWidth);">
		<h1 class="text-center fw-600">
			<span class="title-bg-primary px-3 br-4 pb-1"> Contacto </span>
		</h1>
		<section class="f-row g-6 f-wrap mt-3">
			<div class="f-col g-3 w-100" style="min-width: 360px; max-width: 560px;">
				<h2>Formulario de Contacto</h2>
				<p>
					Modernize your digital customer experience with our
					development solutions. Para compartir informacion y
					conseguir nuevos clientes.
				</p>
				<div>
					<div>
						<div>
							<span>Phone</span>
							<span>Number</span>
						</div>
					</div>
					<span>
						icon
					</span>
				</div>
				<div>
					<div>
						<div>
							<span>Phone</span>
							<span>Number</span>
						</div>
					</div>
					<span>
						icon
					</span>
				</div>
			</div>
			<div class="w-100 f-col g-2" style="max-width: 460px;">
				<h3>Consultas</h3>
				<p>
					We're here to help you with any questions you may have.
					Just fill out the form below and we'll get back to you as
					soon as possible.
				</p>
				<div>
					<input type="text">
				</div>
				<div>
					<input type="text">
				</div>
				<div>
					<textarea />
				</div>	
				<span class="title-bg-primary fw-600 btn fs-3 br-6">Enviar</span>
			</div>
		</section>
	</main>
</Layout>

