---
import Layout from "@Layouts/Layout.astro";
---

<Layout title="FAQs" description="FAQs">
	<main class="f-col f-justify-center text-center mt-8">
		<h1 class="text-center fw-600">
			<span class="title-bg-primary px-3 br-4 pb-1"> Preguntas Frecuentes</span>
		</h1>
		<p class="my-3">Haz crecer tu negocio adquiriendo nuestros servicios.</p>
		
	</main>
</Layout>
