---
import Layout from "@Layouts/Layout.astro";
import Hero from "src/sections/Hero.astro";
import Proyectos from "src/sections/Proyectos.astro";
import FlujodeTrabajo from "src/sections/FlujodeTrabajo.astro";
import QueOfrecemos from "src/sections/QueOfrecemos.astro";
import Showcase from "src/sections/Showcase.astro";

---

<Layout title="Template" description="Template">
	<main class="f-col f-justify-center text-center">
		<Hero />
		<QueOfrecemos />
		<Showcase />
		<Proyectos />
		<FlujodeTrabajo />
	</main>
</Layout>
