---
import Layout from "@Layouts/Layout.astro";
import Hero from "src/sections/Hero.astro";
import Proyectos from "src/sections/Proyectos.astro";
import FlujodeTrabajo from "src/sections/FlujodeTrabajo.astro";
import QueOfrecemos from "src/sections/QueOfrecemos.astro";
import Showcase from "src/sections/Showcase.astro";
import TiempoRecord from "src/sections/TiempoRecord.astro";

---

<Layout title="Inicio"
 description="LignaStudios es una agencia digital expecializada en la creacion de sitios web para tu negocio y/o empresa."
>
	<main class="f-col f-justify-center text-center">
		<Hero />
		<QueOfrecemos />
		<Showcase />
		<Proyectos />
		<FlujodeTrabajo />
		<TiempoRecord />
	</main>
</Layout>
