---
import PlanCard from "@Components/PlanCard.astro";
import NavigationLayout from "@Layouts/NavigationLayout.astro";
import Beneficios from "src/sections/Beneficios.astro";
---

<NavigationLayout
	title="Planes"
	pageTitle="Planes para tu Sitio Web"
	pageDescription="¡Empieza hoy! Nuestros planes estan diseñados para escalar con tu negocio."
>
	<section class="f-row g-6 f-wrap mx-auto f-center mt-4">
		<PlanCard
			price={500}
			title="Emprendedores"
			description="Perfect for those leaving 9-5 and working 24/7."
			list={["1 Page", "1 Image", "1 Video", "1 Form"]}
		/>
		<PlanCard
			price={1400}
			title="Negocios"
			description="Perfect for those leaving 9-5 and working 24/7."
			list={["1 Page", "1 Image", "1 Video", "1 Form"]}
			active={true}
		/>
		<PlanCard
			price={2500}
			title="Empresas"
			description="Perfect for those leaving 9-5 and working 24/7."
			list={["1 Page", "1 Image", "1 Video", "1 Form"]}
		/>
	</section>
	<Beneficios />
	<h2 class="text-center fw-600 mt-12 fs-8">
		<span class="title-bg-primary px-3 br-4 pb-1"> Aplicaciones Web </span>
	</h2>
	<p class="my-3">Algun proyecto de programacion en mente? Tenemos planes comodos para tus necesidades.</p>
	<section class="f-row g-6 f-wrap mx-auto f-center mt-4">
		<PlanCard
			price={1800}
			title="Simple"
			description="Perfect for those leaving 9-5 and working 24/7."
			list={["1 Page", "1 Image", "1 Video", "1 Form"]}
		/>
		<PlanCard
			price={3600}
			title="Multi-Page"
			description="Perfect for those leaving 9-5 and working 24/7."
			list={[
				"S/.600+ por cada pagina nueva",
				"1 Image",
				"1 Video",
				"1 Form",
			]}
			active={true}
		/>
		<PlanCard
			price={9800}
			title="Enterprise"
			description="Perfect for those leaving 9-5 and working 24/7."
			list={["1 Page", "1 Image", "1 Video", "1 Form"]}
		/>
	</section>
</NavigationLayout>
