---
import PlanCard from "@Components/PlanCard.astro";
import NavigationLayout from "@Layouts/NavigationLayout.astro";
import Beneficios from "src/sections/Beneficios.astro";
---

<NavigationLayout
	title="Planes"
	pageTitle="Planes para tu Sitio Web"
	pageDescription="¡Empieza hoy! Nuestros planes estan diseñados para escalar con tu negocio."
>
	<section class="f-row g-6 f-wrap mx-auto f-center mt-4">
		<PlanCard
			price={500}
			title="Emprendedores"
			description="Para emprededores y PYMES"
			list={["1 Pagina base" ,"5 secciones", "Diseño personalizado","Google SEO", "Hosting gratuito", "3 meses de soporte", "Capacitacion"]}
		/>
		<PlanCard
			price={1800}
			title="Negocios"
			description="Especial para negocios en crecimiento"
			list={["5 Pagina base" ,"10 secciones", "Diseño personalizado","Google SEO", "Hosting gratuito", "6 meses de soporte", "Capacitacion", "Correo empresarial"]}
			active={true}
		/>
		<PlanCard
			price={3400}
			title="Empresas"
			description="Perfecto para empresas grandes"
			list={["10 Pagina base" ,"+15 secciones", "Diseño personalizado","Google SEO", "Hosting gratuito", "1 año de soporte", "Capacitacion", "Correo empresarial"]}
		/>
	</section>
	<Beneficios />
	<h2 class="text-center fw-600 mt-12 fs-8">
		<span class="title-bg-primary px-3 br-4 pb-1"> Aplicaciones Web </span>
	</h2>
	<p class="my-3">Algun proyecto de programacion en mente? Tenemos planes comodos para tus necesidades.</p>
	<section class="f-row g-6 f-wrap mx-auto f-center mt-4">
		<PlanCard
			price={1800}
			title="Simple"
			description="Especial para la creacion de contenido"
			list={["1 Pagina funcional",  "Hosting gratuito","Diseño personalizado","Velocidad", "6 meses de soporte", "Capacitacion", "Correo empresarial"]}
		/>
		<PlanCard
			price={3800}
			title="Multi-Page"
			description="Dashboad con paginas"
			list={["3 Paginas funcionales", "Cuentas de usuario", "Hosting gratuito","Diseño personalizado","Velocidad", "1 año de soporte", "Capacitacion", "Correo empresarial"]}
			active={true}
		/>
		<PlanCard
			price={9800}
			title="Enterprise"
			description="Para empresas grandes"
			list={["5 Paginas funcionales", "Cuentas de usuario", "Resgistro de usuario", "Hosting gratuito","Diseño personalizado","Velocidad", "1 año de soporte", "Capacitacion", "Correo empresarial"]}
		/>
	</section>
</NavigationLayout>
