---

---

<footer class="footer f-row w-100 mt-14">
    <ul
        class="w-95 f-row f-center f-wrap mx-auto g-3 py-3"
        style="max-width: var(--maxWidth);"
    >
        <li><a href="/" class="fs-2 fw-500">Inicio</a></li>
        <li><a href="/#servicios" class="fs-2 fw-500">Servicios</a></li>
        <li><a href="/proyectos" class="fs-2 fw-500">Proyectos</a></li>
        <li><a href="/planes" class="fs-2 fw-500">Planes</a></li>
        <li><a href="/FAQs" class="fs-2 fw-500">FAQ's</a></li>
        <li><a href="/contacto#form" class="fs-2 fw-500">Contacto</a></li>
    </ul>
</footer>

<style>
    .footer{
        background-color: var(--pr-color-primary);
        border-top: solid 1px #00000091;
    }
    .footer a {
        color: black;
    }
</style>
