<section
    class="f-col f-center w-95 mx-auto mt-12 br-18 p-7"
    id="beneficios"
    style="max-width: var(--maxWidth); background-color: black;"
>
    <h2 class="fs-8 fw-500 mb-2" style="color: white;">
        Beneficios de crear tu Pagina Web
    </h2>
    <p
        class="m-0 text-center fs-3 fw-400 mx-auto"
        style="line-height: 1.65; max-width: 700px;"
    >
        Diferenciate de los demas, crea tu sitio web con un diseño atractivo y
        fácil de usar.
    </p>
    <div class="f-row g-5 f-center mt-6 f-wrap dark">
        <div class="beneficios-card f-col g-2 f-center p-4 br-14">
            <span class="d-flex f-center mb-3">
                <svg
                    viewBox="0 0 16 16"
                    height="48"
                    stroke="none"
                    stroke-width="1.5"
                >
                    <path
                        stroke="none"
                        d="M2.7 10.7a3.5 3.5 0 0 0-1 2 5 5 0 0 0 0 1v.6h.8a5 5 0 0 0 .8 0 3.5 3.5 0 0 0 2-1 1.8 1.8 0 0 0-.2-2.5 1.8 1.8 0 0 0-2.4 0zm1.7 1.8a2.3 2.3 0 0 1-1.3.6H3v-.3a2.3 2.3 0 0 1 .6-1.2.4.4 0 0 1 .3-.1.7.7 0 0 1 .4.2.5.5 0 0 1 .2.8zM14.7 2.2a1 1 0 0 0-1-.8 8.8 8.8 0 0 0-6.4 2.1L5.6 5.4l-2.4-.5a1 1 0 0 0-.9.3l-.7.6a1 1 0 0 0-.2.9 1 1 0 0 0 .4.7l2 1.3.2.1 3.2 3.3 1.4 2a1 1 0 0 0 .7.5h.1a1 1 0 0 0 .7-.2l.7-.7a1 1 0 0 0 .3-1l-.5-2.3 1.8-1.6a8.8 8.8 0 0 0 2.2-6.6zM3 6.2l1.3.2-.6.8-1-.7zm6.4 7-.7-1 .8-.6.2 1.3zm2.4-5 .2.1zm-.3-.3L7.9 11 5 8l3.1-3.6a7.4 7.4 0 0 1 5.3-1.8 7.5 7.5 0 0 1-1.8 5.3z"
                    ></path>
                    <path
                        stroke="none"
                        d="M11.1 6.6a1.2 1.2 0 0 0 0-1.7 1.2 1.2 0 1 0-1.7 1.7 1.2 1.2 0 0 0 1.7 0z"
                    ></path>
                </svg>
            </span>
            <h3 class="fw-500 fs-4">Despega tu negocio</h3>
            <p class="fs-2 fw-400 m-0">Acelera el crecimiento de tu negocio.</p>
        </div>
        <div class="beneficios-card f-col g-2 f-center p-4 br-14">
            <span class="d-flex f-center mb-3">
                <svg
                    viewBox="-0.5 0 25 25"
                    height="48px"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                >
                    <g fill="none">
                        <path d="M22 11.8a10 10 0 1 0-10 10m-10-10h20"></path>
                        <path
                            d="M12 21.8c-2 0-3.5-4.5-3.5-10s1.6-10 3.5-10c2 0 3.5 4.5 3.5 10m2.9 9.9a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm4.6 1.1-2.2-2.1"
                        ></path>
                    </g>
                </svg>
            </span>
            <h3 class="fw-500 fs-4">Mayor presencia</h3>
            <p class="fs-2 fw-400 m-0">Posicionate en el mercado online.</p>
        </div>
        <div class="beneficios-card f-col g-2 f-center p-4 br-14">
            <span class="d-flex f-center mb-3">
                <svg height="48px" viewBox="0 0 32 32" fill="none">
                    <g>
                        <path
                            fill="none"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M3 11h26M7 8h0m3 0h0m3 0h0M3 5h26v22H3z"></path>
                        <path
                            fill="none"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M6 14h10v10H6zm13 7h7v3h-7zm1-6h6m-3 3h3"></path>
                        <path
                            fill="none"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="m6 22 6-3 4 3m-7-5h0"></path>
                    </g>
                </svg>
            </span>
            <h3 class="fw-500 fs-4">Se un referente</h3>
            <p class="fs-2 fw-400 m-0">Cambia las reglas de juego en tu sector.</p>
        </div>
        <div class="beneficios-card f-col g-2 f-center p-4 br-14">
            <span class="d-flex f-center mb-3">
                <svg viewBox="0 0 512 512" height="48px" viewBox="0 0 32 32">
                    <path
                        d="M255 41c3 0 7-3 7-7V20c0-4-4-7-7-7s-7 3-7 7v14c0 4 3 7 7 7zm49 19 5-2 10-10a6 6 0 0 0-9-9l-10 11a6 6 0 0 0 4 10zm-102 0a6 6 0 0 0 8 0c3-2 3-6 0-9l-10-10a6 6 0 1 0-9 9l11 10zm-30 67a86 86 0 0 1 1-35 6 6 0 1 0-12-3 97 97 0 0 0-1 40 6 6 0 1 0 12-2zm167 18c-3-2-7 0-8 3a84 84 0 0 1-76 47c-32 0-61-18-76-47-1-3-5-5-8-3s-4 5-3 8c17 33 50 54 87 54s70-21 87-54c1-3 0-6-3-8zm11-16a98 98 0 0 0 0-40 6 6 0 1 0-12 3 85 85 0 0 1 0 35 6 6 0 0 0 12 2zm-35 100H194c-3 0-8 4-8 8v255c1 4 5 7 8 7h121c4 0 6-3 6-7V237c1-4-2-8-6-8z"
                    ></path>
                    <path
                        d="m208 105 22 16c2 1 2 4 2 6l-9 26c-1 4 4 8 7 5l22-16h6l22 16c4 3 9-1 7-5l-8-26c-1-2 0-4 1-5l23-17c3-3 1-10-3-10h-27c-3 0-4 0-5-2l-8-26c-2-4-8-4-9 1l-9 25c0 2-2 2-4 2h-27c-5 1-7 7-3 10zm-45 261c0-3-4-6-7-6H34c-3 0-6 3-6 6v127c0 3 3 7 6 7h122c3 0 7-4 7-7V366zm-81-81 1 3-3 9c-1 3 2 5 4 3l8-5h3l8 5c2 2 6 0 5-3l-3-9c-1-1 0-2 1-3l7-6c3-2 2-5-1-5h-10l-3-2-2-9c-1-3-5-3-6 0l-3 9-3 1h-9c-3 1-4 4-2 6l8 6z"
                    ></path>
                    <path
                        d="M94 338a55 55 0 1 0 0-110 55 55 0 0 0 0 110zm0-97a42 42 0 1 1 0 84 42 42 0 0 1 0-84zm390 125c0-3-4-6-7-6H355c-3 0-6 3-6 6v127c0 3 3 7 6 7h122c3 0 7-4 7-7V366zm-80-81 1 3-3 9c-1 3 2 5 4 3l8-5h3l8 5c2 2 6 0 5-3l-3-9c-1-1 0-2 1-3l7-6c3-2 2-5-1-5h-10l-3-2-2-9c-1-3-5-3-6 0l-3 9-3 1h-9c-3 1-4 4-2 6l8 6z"
                    ></path>
                    <path
                        d="M416 338a55 55 0 1 0 0-110 55 55 0 0 0 0 110zm0-97a42 42 0 1 1 0 84 42 42 0 0 1 0-84z"
                    ></path>
                </svg>
            </span>
            <h3 class="fw-500 fs-4">Ventaja de negocio</h3>
            <p class="fs-2 fw-400 m-0">Marca la diferencia con tu competencia.</p>
        </div>
    </div>
</section>

<style>
    #beneficios {
        color: var(--pr-text-black);
    }
    .beneficios-card {
        max-width: 240px;
        height: 210px;
        background-color: rgb(var(--lb-bg-2));
    }
    .beneficios-card h3 {
        color: var(--lb-title);
    }
    .beneficios-card p {
        color: var(--pr-text-black);
    }
    .beneficios-card svg {
        fill: var(--pr-color-primary);
        stroke: var(--pr-color-primary);
    }
    @media (width < 700px) {
        .beneficios-card {
            flex-grow: 1;
            max-width: 100%;
            height: max-content;
        }
    }
    @media (width < 550px) {
        #beneficios {
            padding: 2rem 1.6rem !important;
        }
    }
</style>
