<section class="f-col w-95 mx-auto mt-14" id="flujodeTrabajo" style="max-width: var(--maxWidth);">
    <h2 class="pr-subtitle">Flujo de Trabajo</h2>
    <p
        class="m-0 text-center fs-3 mt-3 fw-400 mx-auto"
        style="line-height: 1.65; max-width: 700px;"
    >
        Somos una agencia de diseño web especializada en crear sitios web para
        tu negocio. Tenemos la solución perfecta para tus necesidades.
    </p>
</section>