<section class="f-col f-justify-center f-align-center w-95 mx-auto" id="flujodeTrabajo" style="min-height: 70dvh; max-width: var(--maxWidth);">
    <div class="f-col f-justify-center f-align-center">
        <h1 class="title">Flujo de trabajo</h1>
        <p>Haz crecer tu negocio adquiriendo nuestros servicios.</p>
    </div>
</section>