---

---

<section
  class="f-col relative f-justify-center mx-auto w-90 mt-13"
  id="hero"
  style="min-height: max-content; max-width: var(--maxWidth);"
>
  <div class="hero-cont f-col mb-8 px-3" style="max-width: 750px;">
    <h1 class="text-left fw-600">
      Dise침amos P치ginas Web que impulsan tu
      <span class="title-bg-primary px-3 br-4 pb-1"> Negocio. </span>
    </h1>
    <p
      class="m-0 text-left fs-4 mt-5"
      style="font-weight: 390; line-height: 1.65;"
    >
      Creamos p치ginas web para empresas con dise침os atractivos, nos adaptamos a
      tus ideas de negocio.
    </p>
    <div class="f-row g-4 mt-4 f-wrap">
      <a
        class="btn br-6 fw-400 fs-custom-15-5 d-flex f-center"
        style="background-color: rgb(var(--lb-black)); color:white;"
        href="/contacto#form">Cotiza ahora</a
      >
      <a class="btn br-6 fw-500 fs-custom-15-5 d-flex f-center" href="/planes"
        >Ver Planes</a
      >
    </div>
  </div>
</section>
