---

---

<section
  class="f-col relative f-justify-center mx-auto w-90 mt-13"
  id="hero"
  style="min-height: max-content; max-width: var(--maxWidth);"
>
  <div class="hero-cont f-col mb-8" style="max-width: 720px;">
    <h1 class="text-left fw-600">
      <span class="title-bg-primary px-3 br-4 pb-1">
        Dise침o de P치ginas Web
      </span>
      <span class="title-bg-primary px-3 br-4 pb-1">
        para Empresas
      </span>
    </h1>
    <p class="m-0 text-left fs-4 mt-2" style="font-weight: 390; line-height: 1.65;">
      Somos una agencia de dise침o web especializada en crear sitios web para tu
      negocio. Tenemos la soluci칩n perfecta para tus necesidades.
    </p>
    <div class="f-row g-4 mt-4 f-wrap">
      <a
        class="btn br-6 fw-400 fs-custom-15-5 d-flex f-center"
        style="background-color: rgb(var(--lb-black)); color:white;"
        href="/contacto">Empezar</a
      >
      <a class="btn br-6 fw-500 fs-custom-15-5 d-flex f-center" href="/planes"
        >Ver Planes</a
      >
    </div>
  </div>
</section>

<style>
  h1 {
    margin-bottom: 0.9rem;
    font-size: 60px;
    color: #141516;
    line-height: 1.4;
  }
  #hero .btn {
    height: 46px;
    padding: 0 2.5rem;
    transition: background-color 0.25s ease;
  }
  #hero .btn:nth-child(2):hover {

    background-color: #b0b0b048;
  }
</style>
