---
import InfoProyectos from "./InfoProyectos.astro";
---

<section
    class="f-col w-95 mx-auto mt-13"
    id="servicios"
    style="min-height: 70dvh; max-width: var(--maxWidth);"
>
    <InfoProyectos />
    <div class="mt-10 f-col f-center mb-2">
        <h2 class="pr-subtitle">Nuestros Servicios</h2>
        <p
            class="m-0 text-center fs-3 mt-3 fw-400"
            style="line-height: 1.65; max-width: 700px;"
        >
            Somos una agencia de diseño web especializada en crear sitios web
            para tu negocio. Tenemos la solución perfecta para tus necesidades.
        </p>

        <div class="f-row g-6 mt-4 f-wrap mt-10 f-center">
            <div class="offer-card f-col g-2 p-5 br-10 relative">
                <span class="icon d-flex f-center mx-auto">
                    <svg height="48px" stroke-width="1" viewBox="0 0 64 64">
                        <g>
                            <path
                                d="M17.5 9.08a2 2 0 1 1-2-2.03 2.02 2.02 0 0 1 2 2.03Zm-6 0a2 2 0 1 1-2-2.03 2.02 2.02 0 0 1 2 2.03Zm12 0a2 2 0 1 1-2-2.03 2.02 2.02 0 0 1 2 2.03Z"
                            ></path>
                            <path
                                d="M58.5 3.5h-53a2 2 0 0 0-2 2v53a2 2 0 0 0 2 2h53a2 2 0 0 0 2-2v-53a2 2 0 0 0-2-2Zm0 55h-53V14.67h53Zm0-45.83h-53V5.5h53Z"
                            ></path>
                            <path
                                d="M56.21 9.91a1 1 0 0 1-.01 1.41.96.96 0 0 1-.7.29.98.98 0 0 1-.71-.3l-.79-.8-.79.8a.98.98 0 0 1-.71.3.96.96 0 0 1-.7-.29 1 1 0 0 1-.01-1.41l.81-.83-.81-.82a1 1 0 0 1 .01-1.42 1 1 0 0 1 1.41.01l.79.81.79-.81a1 1 0 0 1 1.41-.01 1 1 0 0 1 .01 1.42l-.81.82Zm-6.71-.83a1 1 0 0 1-1 1h-4a1 1 0 0 1 0-2h4a1 1 0 0 1 1 1ZM20.15 42.89l3.63-2.09h17.67A2.89 2.89 0 0 0 44 39.24l5.67-10.71a3.09 3.09 0 0 0-.22-3.22l-.72-1.02a2.9 2.9 0 0 0-2.34-1.22h-.01l-23.57.06-.15-1.54a3.08 3.08 0 0 0-3.03-2.81h-5.65a1 1 0 0 0 0 2h5.65a1.09 1.09 0 0 1 1.04 1.02l1.78 17.46-3.37 1.95a3.16 3.16 0 0 0-1.34 2.6v.28a3.11 3.11 0 0 0 2.83 3.13 4.65 4.65 0 0 0-.78 2.59 4.4 4.4 0 1 0 8.81 0 4.68 4.68 0 0 0-.77-2.57h9.07a4.6 4.6 0 0 0-.77 2.57 4.4 4.4 0 1 0 8.81 0 4.68 4.68 0 0 0-.77-2.57h1.81a1 1 0 0 0 0-2H20.79a1.1 1.1 0 0 1-1.05-1.15v-.28a1.21 1.21 0 0 1 .41-.92Zm22.09-4.59a.92.92 0 0 1-.79.5H24.41l-1.03-10.14 23.96-.01Zm4.14-13.23h.01a.87.87 0 0 1 .71.38l.73 1.02.09.17-24.75.02-.15-1.53Zm-5.85 22.17a2.58 2.58 0 1 1-2.4 2.57 2.5 2.5 0 0 1 2.4-2.57Zm-16.34 0a2.58 2.58 0 1 1-2.4 2.57 2.5 2.5 0 0 1 2.4-2.57Z"
                            ></path>
                        </g>
                    </svg>
                </span>
                <h3 class="fs-5 fw-600">Tienda Online</h3>
                <p>
                    Desarrollamos tu tienda online para impulsar tus ventas en
                    internet
                </p>
            </div>
            <div class="offer-card active f-col g-2 p-5 br-10 relative">
                <span class="icon d-flex f-center mx-auto">
                    <svg height="48px" viewBox="0 0 32 32" fill="none">
                        <g>
                            <path
                                class="st0"
                                d="M3 11h26M7 8h0m3 0h0m3 0h0M3 5h26v22H3z"
                            ></path>
                            <path
                                class="st0"
                                d="M6 14h10v10H6zm13 7h7v3h-7zm1-6h6m-3 3h3"
                            ></path>
                            <path class="st0" d="m6 22 6-3 4 3m-7-5h0"></path>
                            <style>
                                .st0 {
                                    fill: none;
                                    stroke: #000;
                                    stroke-width: 1.5;
                                    stroke-linecap: round;
                                    stroke-linejoin: round;
                                }
                            </style>
                        </g>
                    </svg>
                </span>
                <h3 class="fs-5 fw-600">Paginas Web</h3>
                <p>
                    Páginas Web exitosas mediante diseños creativos de alto
                    impacto visual
                </p>
            </div>
            <div class="offer-card f-col g-2 p-5 br-10 relative">
                <span class="icon d-flex f-center mx-auto">
                    <svg height="48px" viewBox="-2 0 60 60">
                        <path
                            d="M1 51.7h39a1 1 0 1 0 0-2H2v-40a1 1 0 1 0-2 0v41a1 1 0 0 0 1 1z"
                        ></path>
                        <path
                            d="M6.5 46.7H14a1 1 0 0 0 1-1V17.47a1 1 0 0 0-1-1H6.5a1 1 0 0 0-1 1V45.7a1 1 0 0 0 1 1zm1-28.24H13V44.7H7.5V18.46zm9 28.24H24a1 1 0 0 0 1-1V23.47a1 1 0 0 0-1-1h-7.5a1 1 0 0 0-1 1V45.7a1 1 0 0 0 1 1zm1-22.24H23V44.7h-5.5V24.46zm9 22.24H34a1 1 0 0 0 1-1V30.2a1 1 0 0 0-1-1h-7.5a1 1 0 0 0-1 1v15.5a1 1 0 0 0 1 1zm1-15.5H33v13.5h-5.5V31.2zm17.5 5a1 1 0 0 0-1-1h-7.5a1 1 0 0 0-1 1v9.5a1 1 0 0 0 1 1H44a1 1 0 0 0 1-1v-9.5zm-2 8.5h-5.5v-7.5H43v7.5z"
                        ></path>
                        <path
                            d="M30.25 25.7A4.76 4.76 0 0 0 35 20.97a4.7 4.7 0 0 0-1.12-3.03l3.84-4.22c.46.3.98.52 1.53.64v8.22a4.75 4.75 0 1 0 5.42 2.92l4.22-2.15a4.7 4.7 0 0 0 3.02 1.12 4.76 4.76 0 1 0-4.74-4.75c0 .73.17 1.4.47 2.02l-4.08 2.08a4.74 4.74 0 0 0-2.31-1.24v-8.22a4.75 4.75 0 1 0-4.96-2.04L32.3 16.7a4.76 4.76 0 1 0-2.05 9.02zm21.66-8.74a2.75 2.75 0 1 1 0 5.5 2.75 2.75 0 0 1 0-5.5zM43 27.2a2.75 2.75 0 1 1-5.5 0 2.75 2.75 0 0 1 5.5 0zM40.25 6.96a2.75 2.75 0 1 1 0 5.5 2.75 2.75 0 0 1 0-5.5zm-10 11.25a2.75 2.75 0 1 1 0 5.5 2.75 2.75 0 0 1 0-5.5z"
                        ></path>
                    </svg>
                </span>
                <h3 class="fs-5 fw-600">Estrategias SEO</h3>
                <p>
                    Gestionamos las campañas de publicidad de tu empresa en los
                    buscadores
                </p>
            </div>
            <div class="offer-card f-col g-2 p-5 br-10 relative">
                <span class="icon d-flex f-center mx-auto">
                    <svg viewBox="0 0 24 24" height="48" stroke="none" stroke-width="0">
                        <path d="M22.5 2h-21C.7 2 0 2.7 0 3.5v13c0 .8.7 1.5 1.5 1.5H9v3H7.5c-.3 0-.5.2-.5.5s.2.5.5.5h9c.3 0 .5-.2.5-.5s-.2-.5-.5-.5H15v-3h7.5c.8 0 1.5-.7 1.5-1.5v-13c0-.8-.7-1.5-1.5-1.5zM14 21h-4v-3h4v3zm9-4.5c0 .3-.2.5-.5.5h-21c-.3 0-.5-.2-.5-.5V15h22v1.5zM12 12a2 2 0 0 0-2 2H5a7 7 0 0 1 7-6.5c1.2 0 2.2.3 3.2.8l-2.7 3.8-.5-.1zm-1 2c0-.6.4-1 1-1s1 .4 1 1h-2zm2.4-1.4L16 8.8a6.8 6.8 0 0 1 2.9 5.2h-5c.1-.6-.1-1.1-.5-1.4zM20 14a8 8 0 0 0-16 0H3a9 9 0 0 1 9-8.5 9 9 0 0 1 9 8.5h-1zm3 0h-1a10 10 0 0 0-20 0H1V3.5c0-.3.2-.5.5-.5h21c.3 0 .5.2.5.5V14z"/>
                        <path d="M5.5 5h-3c-.3 0-.5-.2-.5-.5s.2-.5.5-.5h3c.3 0 .5.2.5.5s-.2.5-.5.5zm-2 2h-1c-.3 0-.5-.2-.5-.5s.2-.5.5-.5h1c.3 0 .5.2.5.5s-.2.5-.5.5zm18-2h-3c-.3 0-.5-.2-.5-.5s.2-.5.5-.5h3c.3 0 .5.2.5.5s-.2.5-.5.5zm0 2h-1c-.3 0-.5-.2-.5-.5s.2-.5.5-.5h1c.3 0 .5.2.5.5s-.2.5-.5.5z"/>
                      </svg>
                </span>
                <h3 class="fs-5 fw-600">Rapidez</h3>
                <p>
                    Gestionamos las campañas de publicidad de tu empresa en los
                    buscadores
                </p>
            </div>
            <div class="offer-card active f-col g-2 p-5 br-10 relative">
                <span class="icon d-flex f-center mx-auto">
                    <svg viewBox="-3.2 -3.2 38.4 38.4" height="48" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                        <path d="M17 31h-2a2 2 0 0 1-2-2v-2h6v2a2 2 0 0 1-2 2zm6-15a8 8 0 0 1-3.2 6.4l-.8.6v4h-6v-4l-.8-.6A8 8 0 0 1 9 16a7 7 0 1 1 14 0zM16 6V2M8.9 8.9 6.1 6.1m17 2.8 2.8-2.8M6 16H2m24 0h4" fill="none" stroke="#000" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2"/>
                      </svg>
                </span>
                <h3 class="fs-5 fw-600">Creativas</h3>
                <p>
                    Páginas Web exitosas mediante diseños creativos de alto
                    impacto visual
                </p>
            </div>
            <div class="offer-card f-col g-2 p-5 br-10 relative">
                <span class="icon d-flex f-center mx-auto">
                    <svg viewBox="0 0 800 800" height="48" stroke="#000">
                        <path
                            d="M777 120c0-22-8-41-22-56a20 20 0 0 0-28 28c6 7 10 16 10 27-1 10-4 19-10 26L488 355l-24-24 197-224 8 8a20 20 0 0 0 28-28l-23-23c-3-4-8-6-14-6-5 0-10 2-14 6L492 237c-18-27-42-50-71-68a268 268 0 0 0-180-38 20 20 0 0 0 5 40c10-2 20-2 30-2 83 0 153 37 189 100l-77 88c-25 3-43 13-56 31-13 16-18 35-24 56-6 25-14 50-34 70a20 20 0 0 0 14 35c54 0 97-12 127-35 28-20 44-49 48-84l292-257c13-14 21-33 22-53zM458 382l-18 15-18-18 15-18 21 21zm-67 100c-15 12-36 20-62 24 9-18 14-36 18-51 9-34 15-51 38-57l37 37c-4 19-15 35-31 47zM178 190l9-2 5-3a20 20 0 0 0-16-36l-6 3a20 20 0 0 0 8 38z"
                        ></path>
                        <path
                            d="M323 571c-11 0-20 9-20 20-1 76-13 111-79 111-38 0-77-28-108-75-34-52-53-121-53-192 0-92 28-169 79-216a20 20 0 0 0-27-29c-30 27-53 63-69 107-15 42-23 88-23 138 0 79 22 155 60 214s90 93 141 93c48 0 83-17 101-51 16-29 17-67 18-100 0-11-9-20-20-20zm98-296a67 67 0 1 0-133 0 67 67 0 0 0 133 0zm-93 0a27 27 0 1 1 53 0 27 27 0 0 1-53 0z"
                        ></path>
                        <path
                            d="M196 365a67 67 0 1 0 0-133 67 67 0 0 0 0 133zm0-93a27 27 0 1 1 0 53 27 27 0 0 1 0-53zm15 180a67 67 0 1 0-133 0 67 67 0 0 0 133 0zm-66 26a27 27 0 1 1 0-53 27 27 0 0 1 0 53zm70 196a67 67 0 1 0 0-133 67 67 0 0 0 0 133zm0-93a27 27 0 1 1 0 53 27 27 0 0 1 0-53z"
                        ></path>
                    </svg>
                </span>
                <h3 class="fs-5 fw-600">Responsive</h3>
                <p>
                    Desarrollamos tu tienda online para impulsar tus ventas en
                    internet
                </p>
            </div>
            <a
                class="btn br-6 mt-4 fs-custom-15 fw-500"
                style="color:white; background-color: rgb(var(--lb-btn-primary));"
                href="/contacto"
            >
                Cotizar ahora
            </a>
        </div>
    </div>

    <style>
        #servicios {
            scroll-margin-top: 110px;
        }
        .offer-card {
            background-color: white;
            max-width: 350px;
            top: 0;
            transition:
                box-shadow 0.2s ease,
                top 0.2s ease;
        }
        .offer-card.active {
            top: -8px;
        }
        .offer-card:hover {
            top: -8px;
            box-shadow: 1px 3px 25px #18191a15;
        }
        .offer-card.active:hover {
            top: -16px;
        }
    </style>
</section>
