---
import InfoProyectos from "./InfoProyectos.astro";
---

<section
    class="f-col w-95 mx-auto mt-13"
    id="servicios"
    style="min-height: 70dvh; max-width: var(--maxWidth);"
>
    <InfoProyectos />
    <div class="mt-10 f-col f-center mb-2">
        <h2 class="pr-subtitle">Nuestros Servicios</h2>
        <p
            class="m-0 text-center fs-custom-17 mt-3 fw-400"
            style="line-height: 1.65; max-width: 700px;"
        >
            Somos una agencia de diseño web especializada en crear sitios web
            para tu negocio. Tenemos la solución perfecta para tus necesidades.
        </p>

        <div class="f-row g-6 mt-4 f-wrap mt-10 f-center">
            <div class="offer-card f-col g-2 p-5 br-10 relative">
                <span class="icon d-flex f-center mx-auto mb-1">
                    <svg height="48px" viewBox="0 0 32 32" fill="none">
                        <g>
                            <path
                                class="st0"
                                d="M3 11h26M7 8h0m3 0h0m3 0h0M3 5h26v22H3z"
                            ></path>
                            <path
                                class="st0"
                                d="M6 14h10v10H6zm13 7h7v3h-7zm1-6h6m-3 3h3"
                            ></path>
                            <path class="st0" d="m6 22 6-3 4 3m-7-5h0"></path>
                            <style>
                                .st0 {
                                    fill: none;
                                    stroke: #000;
                                    stroke-width: 1.5;
                                    stroke-linecap: round;
                                    stroke-linejoin: round;
                                }
                            </style>
                        </g>
                    </svg>
                </span>
                <h3 class="fs-5 fw-500">Landing Page</h3>
                <p>
                    Páginas Web exitosas mediante diseños creativos de alto
                    impacto visual
                </p>
            </div>
            <div class="offer-card f-col g-2 p-5 br-10 relative active">
                <span class="icon d-flex f-center mx-auto mb-1">
                    <svg height="48px" stroke-width="1" viewBox="0 0 64 64">
                        <g>
                            <path
                                d="M17.5 9.08a2 2 0 1 1-2-2.03 2.02 2.02 0 0 1 2 2.03Zm-6 0a2 2 0 1 1-2-2.03 2.02 2.02 0 0 1 2 2.03Zm12 0a2 2 0 1 1-2-2.03 2.02 2.02 0 0 1 2 2.03Z"
                            ></path>
                            <path
                                d="M58.5 3.5h-53a2 2 0 0 0-2 2v53a2 2 0 0 0 2 2h53a2 2 0 0 0 2-2v-53a2 2 0 0 0-2-2Zm0 55h-53V14.67h53Zm0-45.83h-53V5.5h53Z"
                            ></path>
                            <path
                                d="M56.21 9.91a1 1 0 0 1-.01 1.41.96.96 0 0 1-.7.29.98.98 0 0 1-.71-.3l-.79-.8-.79.8a.98.98 0 0 1-.71.3.96.96 0 0 1-.7-.29 1 1 0 0 1-.01-1.41l.81-.83-.81-.82a1 1 0 0 1 .01-1.42 1 1 0 0 1 1.41.01l.79.81.79-.81a1 1 0 0 1 1.41-.01 1 1 0 0 1 .01 1.42l-.81.82Zm-6.71-.83a1 1 0 0 1-1 1h-4a1 1 0 0 1 0-2h4a1 1 0 0 1 1 1ZM20.15 42.89l3.63-2.09h17.67A2.89 2.89 0 0 0 44 39.24l5.67-10.71a3.09 3.09 0 0 0-.22-3.22l-.72-1.02a2.9 2.9 0 0 0-2.34-1.22h-.01l-23.57.06-.15-1.54a3.08 3.08 0 0 0-3.03-2.81h-5.65a1 1 0 0 0 0 2h5.65a1.09 1.09 0 0 1 1.04 1.02l1.78 17.46-3.37 1.95a3.16 3.16 0 0 0-1.34 2.6v.28a3.11 3.11 0 0 0 2.83 3.13 4.65 4.65 0 0 0-.78 2.59 4.4 4.4 0 1 0 8.81 0 4.68 4.68 0 0 0-.77-2.57h9.07a4.6 4.6 0 0 0-.77 2.57 4.4 4.4 0 1 0 8.81 0 4.68 4.68 0 0 0-.77-2.57h1.81a1 1 0 0 0 0-2H20.79a1.1 1.1 0 0 1-1.05-1.15v-.28a1.21 1.21 0 0 1 .41-.92Zm22.09-4.59a.92.92 0 0 1-.79.5H24.41l-1.03-10.14 23.96-.01Zm4.14-13.23h.01a.87.87 0 0 1 .71.38l.73 1.02.09.17-24.75.02-.15-1.53Zm-5.85 22.17a2.58 2.58 0 1 1-2.4 2.57 2.5 2.5 0 0 1 2.4-2.57Zm-16.34 0a2.58 2.58 0 1 1-2.4 2.57 2.5 2.5 0 0 1 2.4-2.57Z"
                            ></path>
                        </g>
                    </svg>
                </span>
                <h3 class="fs-5 fw-500">Tienda Online</h3>
                <p>
                    Desarrollamos tu tienda online para impulsar tus ventas en
                    internet
                </p>
            </div>
            <div class="offer-card f-col g-2 p-5 br-10 relative">
                <span class="icon d-flex f-center mx-auto mb-1">
                    <svg height="48px" viewBox="0 0 496 496" stroke-width="2">
                        <path d="M496 0H0v368h86c-13 24-21 52-22 81a24 24 0 1 0 16 1c1-30 10-58 25-82h55c2 18 9 34 20 48h-12v16h16v16h-16v16h16v32h128v-32h16v-16h-16v-16h16v-16h-12c11-14 18-30 20-48h55c15 24 24 52 25 82a24 24 0 1 0 16-1c-1-29-9-57-22-81h86V0zM72 480a8 8 0 1 1 0-16 8 8 0 0 1 0 16zm352-16a8 8 0 1 1 0 16 8 8 0 0 1 0-16zM116 352c18-22 40-40 67-51a88 88 0 0 0-23 51h-44zm180 128h-96v-16h96v16zm0-32h-96v-16h96v16zm2-37-2 3v2h-40v-25a32 32 0 1 0-16 0v25h-40v-2l-2-3a72 72 0 1 1 101 0zm-50-35a16 16 0 1 1 0-32 16 16 0 0 1 0 32zm88-24c-2-19-10-37-23-51 27 11 49 29 67 51h-44zm144 0h-80c-19-28-46-50-77-64h94a24 24 0 1 0 0-16H79a24 24 0 1 0 0 16h94c-31 14-58 36-77 64H16V80h464v272zm-48-72a8 8 0 1 1 16 0 8 8 0 0 1-16 0zm-368 0a8 8 0 1 1-16 0 8 8 0 0 1 16 0zM480 64H16V16h464v48z"/>
                        <path d="M32 32h48v16H32zm64 0h16v16H96zm64 64H32v144h128V96zm-16 128H48V112h96v112zM320 96H176v144h144V96zm-16 128H192V112h112v112zM464 96H336v144h128V96zm-16 128h-96V112h96v112z"/>
                      </svg>
                </span>
                <h3 class="fs-5 fw-500">Sitio Web</h3>
                <p>
                    Gestionamos las campañas de publicidad de tu empresa en los
                    buscadores
                </p>
            </div>
        </div>
        <a
            class="btn br-6 mt-4 fs-custom-15 fw-500"
            style="color:white; background-color: rgb(var(--lb-btn-primary));"
            href="/contacto#form"
        >
            Cotizar ahora
        </a>
    </div>

    <style>
        #servicios {
            scroll-margin-top: 110px;
        }
        .offer-card {
            background-color: white;
            max-width: 350px;
            height: 250px;
            top: 0;
            transition:
                box-shadow 0.2s ease,
                height 0.2s ease, top 0.2s ease;
        }
        .offer-card.active {
            height: 266px;
        }
        .offer-card:hover {
            height: 266px;
            box-shadow: 1px 3px 25px #18191a15;
        }
        .offer-card.active:hover {
            top: -10px;
        }
    </style>
</section>
