---

---

<section
    class="f-row f-justify-between f-wrap g-8 mx-auto mt-14"
    id="tiemporecord"
    style="max-width: var(--maxWidth);"
>
    <div class="f-col g-2" style="max-width: 515px;">
        <h2
            class="text-left fw-500 h-max mr-10 fs-8 mb-2"
            style="max-width: 450px; line-height: 1.3;"
        >
            Obten tu página web en <span class="info-title-primary br-4"
                >tiempo récord</span
            >
        </h2>
        <p class="text-left fs-custom-17">
            No pierdas más tiempo soñando. Cotiza con nosotros y transforma tus
            ideas en una página web profesional.
        </p>
        <a
            class="br-6 fs-custom-15 fw-600 h-max mr-10 w-max"
            href="/contacto#form"
            style="background-color: black;color:white; padding: .8rem 1.5rem;"
        >
            Agenda tu cita ahora
        </a>
    </div>
    
    <div class="f-row g-5 w-50 f-grow f-wrap f-center" style="">
        <div
            class="tiempo-card f-col g-3 p-4 br-8 sd-2 relative"
            style="min-width: 190px;"
        >
            <h3 class="fw-500 fs-custom-17 mx-auto text-center">
                Plan Basico
            </h3>
            <span class="fs-10 fw-600">5</span>
            <span class="fs-custom-17 fw-500">Dias</span>
        </div>
        <div
            class="tiempo-card f-col g-3 p-4 br-8 sd-2 relative"
            style="min-width: 190px;"
        >
            <h3 class="fw-500 fs-custom-17 mx-auto text-center">
                Plan Negocios
            </h3>
            <span class="fs-10 fw-600">10</span>
            <span class="fs-custom-17 fw-500">Dias</span>
        </div>
        <div
            class="tiempo-card f-col g-3 p-4 br-8 sd-2 relative"
            style="min-width: 190px;"
        >
            <h3 class="fw-500 fs-custom-17 mx-auto text-center">
                Plan Empresarial
            </h3>
            <span class="fs-10 fw-600">15</span>
            <span class="fs-custom-17 fw-500">Dias</span>
        </div>
    </div>
</section>

<style>
    .tiempo-card {
        background-color: white;
        transition: top 0.2s ease;
        top: 0;
    }
    .tiempo-card:hover {
        top: -10px;      
    }
</style>
